.quick-access {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .quick-item {
        height: 200px;
        width: 200px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;

        &:hover {
            opacity: 0.8;
        }

        .quick-item-icon {
            font-size: 48px;
        }

        .quick-item-text {
            font-weight: bold;
            font-size: 24px;
            text-align: right;
        }
    }
}

@media only screen and (max-width: 576px) {
    .quick-access {
        .quick-item {
            width: 140px;
            height: 140px;

            .quick-item-icon {
                font-size: 36px;
            }
            .quick-item-text {
                font-size: 18px;
            }
        }
    }
}
