<div class="comp-sidebar bg-dark">
    <button class="btn btn-dark btn-block mb-2 text-left" routerLink="/home">
        <fa-icon [icon]="faHome"></fa-icon>
        <span> Início</span>
    </button>
    <button class="btn btn-dark btn-block mb-2 text-left" routerLink="/linhas-de-onibus">
        <fa-icon [icon]="faBus"></fa-icon>
        <span> Linhas de Ônibus</span>
    </button>
    <button class="btn btn-dark btn-block mb-2 text-left" routerLink="/linhas-de-lotacao">
        <fa-icon [icon]="faBus"></fa-icon>
        <span> Linhas de Lotação</span>
    </button>
</div>