<h2 class="mt-4 mb-5">
    <fa-icon [icon]="faBus"></fa-icon>
    <span> Linhas de Ônibus</span>
</h2>
<div class="card">
    <div class="card-body">
        <!-- <div class="form-group">
            <label for="linhaNome">Buscar Por Nome</label>
            <input type="text" class="form-control" id="linhaNome" (keyup)="searchNome($event.target.value)" #linhaNome placeholder="Digite um nome">
        </div> -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">CÓDIGO</th>
                    <th scope="col">NOME</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let linha of linhasDeOnibus">
                    <td>{{linha.codigo}}</td>
                    <td>{{linha.nome}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>